@import "tailwindcss";

:root {
  --background: #f5f3ff; /* lavande clair */
  --foreground: #1f2937; /* gris foncé doux */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* ❌ On enlève le dark mode auto */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}